<head>
    <meta charset="utf-8">
    <title> Go 4 Food</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link src="assets/Images/Go 4 Food.png" rel="icon">
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
     
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
      <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
  
    <link scr="assets/Animation/animate.min.css" rel="stylesheet">
    <link src="assets/Animation/owl.carousel.min.css" rel="stylesheet">
    <link src="assets/Animation/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.10.0/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    </head>


<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6">
                <div class="row g-3">
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.1s" src="assets/Images/about-1.jpg">
                    </div>
                    <div class="col-6 text-start">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.3s" src="assets/Images/about-2.jpg" style="margin-top: 25%;">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-75 wow zoomIn" data-wow-delay="0.5s" src="assets/Images/about-3.jpg">
                    </div>
                    <div class="col-6 text-end">
                        <img class="img-fluid rounded w-100 wow zoomIn" data-wow-delay="0.7s" src="assets/Images/about-4.jpg">
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">About Us</h5>
                <h1 class="mb-4">Welcome to Taste Wish <i class="fa fa-utensils text-primary me-2"></i></h1>
                <p class="mb-4">A great Web Application for Hotel Table Booking </p>
                <p class="mb-4">Table booking restaurant app is a convenient self-service that can be efficiently embedded on any restaurant’s website. The reservation system is further helpful in customizing the booking process, enabling people to book a table through your website, in managing restaurant availability, and reservations.</p>
                <p class="mb-4"> At Teaste Wish, we believe that your dining experience should be nothing short of extraordinary. That's why we're thrilled to introduce our exclusive pre-booking option for food enthusiasts like you.</p>

                <p class="mb-4">Inform us of your food orders in advance, and our culinary team will tailor your experience to your liking.</p>

                <p class="mb-4">Our restaurant is known for its popular dishes, and they tend to go quickly. Pre-booking ensures that you don't miss out on your favorites.t's simple! Visit our website. Select your preferred date and time, and we'll handle the rest. 

                </p>
                <div class="row g-4 mb-4">
                    
                    <div class="col-sm-6"><div >
                        
                            <h1  ></h1>
                            <div class="ps-4">
                                <p class="mb-0"></p>
                                <h6 class="text-uppercase mb-0"></h6>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-user-tie text-primary mb-4"></i>
                        <h5>Master Chefs</h5>
                        <p>In our Hotel There are Master Chefes are there like Indian,Italian,Continetal.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-utensils text-primary mb-4"></i>
                        <h5>Quality Food</h5>
                        <p>More Hyginic Food are supplied by our hotel Quality creates loyalty Guests.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-cart-plus text-primary mb-4"></i>
                        <h5>Online Order</h5>
                        <p>One Click the food get ordered in online and before you arrive. </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item rounded pt-3">
                    <div class="p-4">
                        <i class="fa fa-3x fa-headset text-primary mb-4"></i>
                        <h5>24/7 Service</h5>
                        <p>Our service should be 24/7 in get good quality of service we adding more delicous food.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>

<!-- <div class="container-xxl pt-5 pb-3">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h5 class="section-title ff-secondary text-center text-primary fw-normal">Team Members</h5>
            <h1 class="mb-5">Our Master Chefs</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="assets/Images/ramu pic.jpeg.jpg" alt="">
                    </div>
                    <h5 class="mb-0">R.N.Ramu</h5>
                    <small>Head Chef</small>
                    <div class="d-flex justify-content-center mt-3">
                        
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow fadeInUp" data-wow-delay="0.3s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="assets/Images/bharat pic.jpeg.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Bharatwaj Reddy</h5>
                    <small>Executive Chef</small>
                    <div class="d-flex justify-content-center mt-3">
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow fadeInUp" data-wow-delay="0.5s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="assets/Images/rajesh civil pic.jpeg.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Rajesh Vadde</h5>
                    <small>Meat Chef</small>
                    <div class="d-flex justify-content-center mt-3">
                       
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-3 wow fadeInUp" data-wow-delay="0.7s">
                <div class="team-item text-center rounded overflow-hidden">
                    <div class="rounded-circle overflow-hidden m-4">
                        <img class="img-fluid" src="assets/Images/rajesh LE pic.jpeg.jpg" alt="">
                    </div>
                    <h5 class="mb-0">Rajesh Bheemanapalli</h5>
                    <small>Vegetable Chef</small>
                    <div class="d-flex justify-content-center mt-3">
                       
                    </div>
                </div>
            </div>
            
                <div class="col-lg-3 col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="assets/Images/rajesh kumar pic.jpeg.jpg" alt="">
                        </div>
                        <h5 class="mb-0">Rajesh Kumar</h5>
                        <small>Pastry Chef</small>
                        <div class="d-flex justify-content-center mt-3"></div> 
                        </div>
                </div>
                <div class="col-lg-3 col-md-3 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="team-item text-center rounded overflow-hidden">
                        <div class="rounded-circle overflow-hidden m-4">
                            <img class="img-fluid" src="assets/Images/harshith.jpg" alt="">
                        </div>
                        <h5 class="mb-0">Sai Harshith</h5>
                        <small>Sea Food Chef</small>
                        <div class="d-flex justify-content-center mt-3"></div>
                    </div> 
                </div> -->
                
    
