<head>
    <head>
        <meta charset="utf-8">
        <title> Teaste Wish</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <link src="assets/Images/Go 4 Food.png" rel="icon">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
         
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
      
        <link scr="assets/Animation/animate.min.css" rel="stylesheet">
        <link src="assets/Animation/owl.carousel.min.css" rel="stylesheet">
        <link src="assets/Animation/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.10.0/dist/css/bootstrap.min.css"
            integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
       
       
        </head>
    
    </head>

<body>
   
        <div class="container-xxl py-5 bg-dark hero-header mb-5">
            <div class="container my-5 py-5">
                <div class="row align-items-center g-5">
                    <div class="col-lg-6 text-center text-lg-start">
                        <h1 class="display-3 text-white animated slideInLeft">Enjoy Our <i class="fa fa-utensils fa-2x btn-light "></i><br>Delicious Food</h1>
                        <p class="text-white animated slideInLeft mb-4 pb-2">Welcome to Teaste Wish, where culinary excellence meets exceptional service. We take immense pride in sharing our passion for food and hospitality, and it's our pleasure to showcase what sets us apart.

                           </p>
                    </div>
                    <!-- <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="assets/Images/hero.png" alt="">
                    </div> -->
                </div>
            </div>
        </div>
       