<head>
    <meta charset="utf-8">
    <title> Go 4 Food</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link src="assets/Images/Go 4 Food.png" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap"
        rel="stylesheet">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link scr="assets/Animation/animate.min.css" rel="stylesheet">
    <link src="assets/Animation/owl.carousel.min.css" rel="stylesheet">
    <link src="assets/Animation/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.10.0/dist/css/bootstrap.min.css"
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        <style>
            .background-image {
                background-image: url('assets/Images/food menu bg.jpg'); 
                background-size: cover; 
                background-position: center ; 
                height: 400px; 
    }
    </style>


</head>
<div class="background-image"><br/><br/>

<div class="container-xxl py-5 bg-transparent">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class="section-title ff-secondary text-center text-primary fw-normal">Food Menu</h1>
            <h3 class="mb-5">Most Popular Items</h3>

        </div>
        <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.1s">
            <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill"class="nav-link"  routerLink="breakfast">
                        <i class="fa fa-utensils fa-2x btn-light "></i>
                        <div class="ps-3">
                            <small class="text-body">Popular</small>
                            <h6 class="mt-n1 mb-0">Breakfast</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" class="nav-link"  routerLink="veggies">
                        <i class="fa fa-hamburger fa-2x btn-light"></i>
                        <div class="ps-3">
                            <small class="text-body">Special</small>
                            <h6 class="mt-n1 mb-0">Lunch</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" class="nav-link"  routerLink="hotdrinks">
                        <i class="fa fa-coffee fa-2x btn-light "></i>
                        <div class="ps-3">
                            <small class="text-body">Super</small>
                            <h6 class="mt-n1 mb-0">HotDrinks</h6>
                        </div>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" class="nav-link"  routerLink="cooldrinks">
                        <i class="fa fa-cocktail fa-2x btn-light "></i>
                        <div class="ps-3">
                            <small class="text-body">Chill With</small>
                            <h6 class="mt-n1 mb-0">CoolDrinks</h6>
                        </div>
                    </a>
                </li>
            </ul>
