<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <link rel="login.component.css">
    
    <style>
              .card {
                border: lightblue;
                margin-right: auto; 
                margin-left: auto; 
                width: 500px; 
                height: 500px; 
                background-color:transparent; 
                text-align: center; 
                padding: 10px; 
               }	
               .background-image {
                background-image: url('https://images.pexels.com/photos/326281/pexels-photo-326281.jpeg'); 
                background-size: cover; 
                background-position: center ; 
                height: 800px; 
               }
    
    
      
          </style>
          
      
    </head>
   



<div class="background-image">



    <div class="background-image"><br/><br/>
        <div class="container h-100">
       
            <div class="card">
            
                <div class="brand_logo_container">
                  
                </div>
             <div class="d-flex justify-content-center form_container">

            <form #regForm="ngForm" (ngSubmit)="userRegister(regForm.value)" novalidate>
                <div class="text-center" border-radius="10px" >
                    <img src="assets/Images/logo2.jpeg" class="img-fluid  my-3" width="200px" style="border-radius: 15px
                    ;" alt="profile"> 
                  </div> 
                <div style="width: 250px;" >
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <input class="form-control" type="text" name="firstname" placeholder="First Name"
                            #firstName="ngModel" ngModel required minlength="3" maxlength="20" />
                    </div> <br />
                    <div *ngIf="firstName.errors?.['required'] && firstName.touched" class="errors"><p>!Please enter FirstName</p></div>


                    <div style="width: 250px;">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                            <input class="form-control" type="text" name="lastname" ngModel #lastName="ngModel"
                                placeholder="Last Name" required minlength="3" maxlength="20" />
                        </div>
                        <div *ngIf="lastName.errors?.['required'] && lastName.touched" class="errors"><p>!Please enter LastName</p></div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-phone-alt"></i></span>
                            <input class="form-control" type="text" name="phoneNumber" ngModel #phone="ngModel"
                                placeholder="Enter your PhoneNumber " minlength="0" maxlength="10" >
                        </div>
                        <div *ngIf="((phone.errors?.['required'] && phone.touched)  || (phone.dirty && !isPhoneNumberValid(regForm.value.phoneNumber)))" class="errors"><div>!Please enter valid phoneNumber</div></div><br>

                    </div>
                    <div class="input-group">
                        <span class="input-group-text"><i class="fas fa-user"></i></span>
                        <select class="form-control" name="gender" ngModel #gender="ngModel" required>
                            <option value="" selected>Select Gender</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="Other">Others</option>
                        </select>
                    </div>
                    <div *ngIf="gender.errors?.['required'] && gender.touched" class="errors"><p>!Please select-gender</p></div><br>


                    <div style="width: 250px;">
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                            <input class="form-control" type="text" name="emailId" ngModel #emailId="ngModel"
                                placeholder="Enter Email-ID" required minlength="3" maxlength="30" required email />
                        </div> <br>
                        <div *ngIf="(emailId .errors?.['required'] && emailId .touched && emailId .invalid ) || (emailId .invalid && emailId .touched)" class="errors"><p>!Please enter valid Email-ID</p></div>
                        <div *ngIf="regForm"></div>
                        </div>
                        <div class="input-group">
                            <span class="input-group-text"><i class="fas fa-key"></i></span>
                            <input class="form-control" type="password" name="password" ngModel #password="ngModel"
                                placeholder="Enter your Password " minlength="4" maxlength="30" required [formNoValidate]>
                        </div>
                        <div *ngIf="(password.errors?.['required'] && password.touched)|| (!isPasswordValid(regForm.value.password) && password.dirty)" class="errors"><p>!Please Enter valid password</p></div>
                

                        <br>
                       <div>
                        <button class="btn btn-primary" [disabled]="!regForm.valid" >Register</button>

                       </div>
                      