
    <head>
        <meta charset="utf-8">
        <title>Taste Wish</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="" name="keywords">
        <meta content="" name="description">
        <link src="assets/Images/Go 4 Food.png" rel="icon">
        
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
         
          <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
      
        <link scr="assets/Animation/animate.min.css" rel="stylesheet">
        <link src="assets/Animation/owl.carousel.min.css" rel="stylesheet">
        <link src="assets/Animation/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.10.0/dist/css/bootstrap.min.css"
          
        integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
        
        <style>
        .background-image {
            background-image: url('assets/Images/bg image2.jpg'); 
            background-size: cover; 
            background-position: center ; 
            height: 500px; 
}
</style>
    </head>
   
<div class="background-image"><br>
    <div align="center"> <h2 class="section-title ff-secondary text-center text-primary fw-normal" >Pay ment Page</h2> </div><br>
<div class="paypal-container">
    <div class="amount">Total amount to pay: ${{amount}}</div>

    <div align="center">
    <h4  class="section-title ff-secondary text-center text-primary fw-normal" > click here</h4><br></div>
    
      <div align="center" >
    <div  style="width: 400px;" #paymentRef> </div></div>
    <div class="back" (click)="cancel()">
        <button class="btn btn-light">Cancel </button></div>
  </div></div>