<div class="confirmation">
  <div class="status">Your transaction is successful.</div>
  <div class="id">Your transaction id is {{ transactionId }}</div>
  <div class="info">Our delivery partner will reach you soon.</div>

</div>
<div class="link">
  <a (click)="home()" style="color: blue;"> clickhere to return to home page</a>
</div>