
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.10.0/css/bootstrap.min.css" 
    integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> 
    <link rel="login.component.css">
    
    <style>
              .card {
                border: lightblue;
                margin-right: auto; 
                margin-left: auto; 
                width: 500px; 
                height: 600px; 
                background-color:transparent; 
                text-align: center; 
                padding: 10px; 
               }	
               .background-image {
                background-image: url('assets/Images/bg image2.jpg'); 
                background-size: cover; 
                background-position: center ; 
                height: 800px; 
    }
    
      
          </style>
          
      
    </head>
    
    <div class="background-image"><br/><br/>
        <div class="container h-100">
       
            <div class="card ">
            
                <div class="brand_logo_container">
                  
                
          </div>
        <div class="text-center" border-radius="10px" >
                <img src="assets/Images/Go 4 Food.png" class="img-fluid  my-3" width="200px" style="border-radius: 15px
                ;" alt="profile">
              </div> <br>
              <h3>ForgotPassword?</h3><br>
             <span><i class="fa fa-lock fa-4x btn-light "></i><br/></span> 
    
            <div align ="center">
              <div  style="width: 250px; "  >
                
                <input type="email" id="typeEmail" class="form-control my-3" placeholder="Enter your EmailId" [(ngModel)]="emailId" required/>
           
                &nbsp;<button class="btn btn-light " style="color:black; background-color:lightblue;" (click)="forgetOtp(emailId)">SentOtp</button>
                  
            </div>
            <div style="width: 250px; " >
            <input type="text" class="form-control my-3" placeholder="Enter Otp" [(ngModel)]="Otp"></div>

        
                <button class="btn btn-light" style="color:black; background-color:lightblue;" (click)="forgetpass(emailId,Otp) " >Reset password</button>
                
                <div class=" justify-content-between mt-4">
                    <a routerLink="login">Login</a>
                    
                </div>
            </div>
        </div>
        

               </div></div>