<head>
  <meta charset="utf-8">
  <title> Go 4 Food</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <link src="assets/Images/Go 4 Food.png" rel="icon">
  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">
   
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

  <link scr="assets/Animation/animate.min.css" rel="stylesheet">
  <link src="assets/Animation/owl.carousel.min.css" rel="stylesheet">
  <link src="assets/Animation/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.10.0/dist/css/bootstrap.min.css"
      integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>



<div class="container-xxl position-relative p-0 ">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
     
          <h1 class="text-light m-0"><i class="fa fa-utensils me-3"></i>Taste Wish</h1>
         
    
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
          <span class="fa fa-bars"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
          <div class="navbar-nav ms-auto py-0 pe-4">

      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a *ngIf="!userLogutSatus()"class="nav-link"  routerLink="login">Login</a>
        </li>
        <li class="nav-item">
        <a *ngIf="userLogutSatus()" class="nav-link" routerLink="table-book">Book A Table</a>
        </li>
        <li class="nav-item " style="color: black;">
          <a *ngIf="userLogutSatus()" class="nav-link" routerLink="fooditems"> Menu</a>
        </li>

        <li class="nav-item" style="color: black;">
         <a *ngI="userLogutSatus()" class="nav-link"  routerLink="showtables">Bookings</a>
        </li>
    
    <li class="nav-item">
      <a *ngIf="userLogutSatus()" class="nav-link" routerLink="cart"><svg xmlns="http://www.w3.org/2000/svg"  width="16" height="16" fill="currentColor" class="bi bi-cart" viewBox="0 0 16 16">
        <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
     </svg>({{cartItems.length}})</a>
  </li>
  
      <form class="d-flex">
        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            
            <a *ngIf="!userLogutSatus()" class="nav-link"  routerLink="aboutus">AboutUs</a>
            

          </li>
          <li class="nav-item">
            <a *ngIf="!userLogutSatus()"class="nav-link"  routerLink="contact">contactus</a>
          </li>
          
        </ul>
      </form>

      </ul>
      <form class="d-flex">
        <ul class="navbar-nav me-auto">

          <li class="nav-item">
            
            <a *ngIf="userLogutSatus()" class="nav-link"  routerLink="logout">Logout</a>
            

          </li>

        </ul>
      </form>
    </div>
